<a href="https://colab.research.google.com/github/tmoura/machinelearning/blob/master/Avaliando_Hipoteses.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
from sklearn.model_selection import train_test_split
from sklearn import metrics
import pandas as pd
from sklearn.neural_network import MLPClassifier

url = "https://raw.githubusercontent.com/tmoura/machinelearning/master/iris.data"

# Carregar base de dados
dataset = pd.read_csv(url, header=None)

columns = len(dataset.columns)

y = dataset[0] # extrai a primeira coluna, que Ã© o label
X = dataset.loc[:,1:columns]

X.head(5) # Mostra os 5 primeiros dados da tabela

     1    2    3    4
0  5.1  3.5  1.4  0.2
1  4.9  3.0  1.4  0.2
2  4.7  3.2  1.3  0.2
3  4.6  3.1  1.5  0.2
4  5.0  3.6  1.4  0.2